@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600&display=swap");

body {
  background-color: white;
  background-image: url("../images/bckgrnd.jpeg");
  background-size : cover;
  font-family: "Montserrat", "Open Sans", "Helvetica", "sans-serif";
  padding: 50px;
  text-align: center;

.bandetitre {
  font-weight: 300;
  letter-spacing: 15px;
  background-color: white;
  padding: 10px;
  opacity: 0.5;
}

.bandeparagraphe {
  background-color: white;
  padding: 10px;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 7px;
}

}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

