---
title: Ophélie Cauchye
---

<h1 class="bandetitre">
  Ophélie Cauchye
</h1>
  <h2 class="bandetitre">
    fullstack web developer.
  </h2>

<!--     <%= link_to(
      "Le Wagon Nantes",
      "https://www.lewagon.com/fr/nantes",
      target: "_blank"
    ) %> -->
    <p class="bandeparagraphe">
      Nantaise de cœur, j'ai grandi dans la ville des Ducs
    </p>
