---
title: Ophélie Cauchye
---
<div class="global">

  <div class="corps-titre">
    <h1 class="bande-titre">
      OPHÉLIE CAUCHYE
    </h1>
    <h2 class="bande-titre">
      fullstack web developer.
    </h2>
  </div>
  <!--     <%= link_to(
    # "Le Wagon Nantes",
    # "https://www.lewagon.com/fr/nantes",
    # target: "_blank"
  ) %> -->
  <div class="corps-landing">
    <div class="bande-corps-landing">
      <div class="paragraphe-description">
        <p>
          Nantaise de cœur, j'ai grandi dans la ville des Ducs<br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic nesciunt, pariatur odio cupiditate. Quisquam modi dolore suscipit natus enim, quibusdam sit. Fugiat, molestiae, sint officiis tempora est quia suscipit.
        </p>
      </div>
      <div class="contact-me-form">
        <form
          action="https://formspree.io/FORM_ID"
          method="POST"
        >
          <div class="form-corps">
            <input class="form-element" type="text" name="name" placeholder="Your name">
            <input class="form-element" type="email" name="_replyto" placeholder="Your e-mail">
            <textarea class="form-element message" name="message"></textarea>
            <input class="form-element" type="submit" value="Send">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>

</div>
